<div class="" style="padding:20px;;background-color:#BEEBFF;border:1px solid #777777">
<h3>The Secrets</h3>
<a href="/users/<%=current_user.id%>">Your Dashboard</a>
<% @secrets.each do |item| %>
  <p><%= item.secret %></p>
    <span style="margin-left:20px; font-size:12px;font-style:italic;"><%= item.likes.count %> Likes</span>
    <% if @user.liked_secrets.exists?(item.id) %>
      <form action="/likes/<%=item.id%>" method="post" style="display:inline-block;">
        <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" name="Unlike" value="Unlike">
      </form>
    <% else %>
      <form action="/likes/<%=item.id%>" method="post" style="display:inline-block;">
        <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
        <input type="submit" name="Like" value="Like">
      </form>
    <% end %>
  <% if @user.id == item.user_id %>
    <form action="/secrets/<%=item.id%>" method="post" style="display:inline-block;">
      <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" name="Delete" value="Delete">
    </form>
  <% end %>
  <hr>
<% end %>

</div>
